<configuration>

  <appender name="STDOUT" class="org.fissore.test.slf4j.TestConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %C@%M:%L %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.fissore.slf4j.off" level="off"/>

  <logger name="org.fissore.slf4j.error" level="error">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fissore.slf4j.warn" level="warn">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fissore.slf4j.info" level="info">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fissore.slf4j.debug" level="debug">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.fissore.slf4j.trace" level="trace">
    <appender-ref ref="STDOUT"/>
  </logger>

  <appender name="LIST" class="org.fissore.test.slf4j.TestListAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.fissore.slf4j.list.error" level="error">
    <appender-ref ref="LIST"/>
  </logger>

  <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="org.fissore.test.slf4j.TestLogstashEncoder">
      <includeMdcKeyName>mdc1</includeMdcKeyName>
      <includeMdcKeyName>mdc2</includeMdcKeyName>
    </encoder>
  </appender>

  <logger name="org.fissore.slf4j.json.error" level="error">
    <appender-ref ref="JSON"/>
  </logger>

  <root level="off"/>
</configuration>
